ul,
ol {
    padding: 0;
    margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    padding: 0;
    margin: 0;
}

html {
    background-color: #e5e5e5;
    padding: 0;
    margin: 0;
    font-family: Montserrat;
}

.wrapper {
    display: flex;
    flex-direction: row-reverse;
    width: 1200px;
    margin: 0 auto;
    position: relative;
}

.main {
    position: relative;
    top: 0;
    left: 0;
    z-index: 1;
    width: 1200px;
    padding-left: 370px;
    background: rgb(255, 255, 255);
    background: -moz-linear-gradient(
        -45deg,
        rgba(255, 255, 255, 1) 0%,
        rgba(245, 247, 255, 1) 50%,
        rgba(241, 244, 255, 1) 51%,
        rgba(255, 255, 255, 1) 100%
    );
    background: -webkit-linear-gradient(
        -45deg,
        rgba(255, 255, 255, 1) 0%,
        rgba(245, 247, 255, 1) 50%,
        rgba(241, 244, 255, 1) 51%,
        rgba(255, 255, 255, 1) 100%
    );
    background: linear-gradient(
        135deg,
        rgba(255, 255, 255, 1) 0%,
        rgba(245, 247, 255, 1) 50%,
        rgba(241, 244, 255, 1) 51%,
        rgba(255, 255, 255, 1) 100%
    );
    filter: progid: DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#ffffff', GradientType=1);
}

.sidebar {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
    width: 370px;
    height: 1200px;
    background: rgb(35, 171, 255);
    background: -moz-linear-gradient(
        -45deg,
        rgba(35, 171, 255, 1) 0%,
        rgba(0, 16, 26, 1) 46%,
        rgba(0, 1, 2, 1) 50%,
        rgba(0, 12, 20, 1) 53%,
        rgba(0, 94, 152, 1) 76%,
        rgba(0, 67, 108, 1) 87%,
        rgba(0, 32, 52, 1) 100%
    );
    background: -webkit-linear-gradient(
        -45deg,
        rgba(35, 171, 255, 1) 0%,
        rgba(0, 16, 26, 1) 46%,
        rgba(0, 1, 2, 1) 50%,
        rgba(0, 12, 20, 1) 53%,
        rgba(0, 94, 152, 1) 76%,
        rgba(0, 67, 108, 1) 87%,
        rgba(0, 32, 52, 1) 100%
    );
    background: linear-gradient(
        135deg,
        rgba(35, 171, 255, 1) 0%,
        rgba(0, 16, 26, 1) 46%,
        rgba(0, 1, 2, 1) 50%,
        rgba(0, 12, 20, 1) 53%,
        rgba(0, 94, 152, 1) 76%,
        rgba(0, 67, 108, 1) 87%,
        rgba(0, 32, 52, 1) 100%
    );
    filter: progid: DXImageTransform.Microsoft.gradient( startColorstr='#23abff', endColorstr='#002034', GradientType=1);
}

.sidebar img {
    width: 370px;
    margin-top: 40px;
}

/* --------------------------------main------------------------------------- */

.main__box {
    padding: 102px 0px 0px 88px;
}

.main__box li {
    width: 509px;
}

.main__box ul,
.main__box ol {
    list-style-position: inside;
}

.about {
    font-weight: 700;
    font-style: normal;
}

.about__sub-title {
    font-size: 14px;
    line-height: 17px;
}

.about__title {
    font-size: 45px;
    line-height: 55px;
    padding: 19px 0px 24px 0px;
}

.about__text {
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    color: #595959;
    width: 400px;
}

.projects {
}

.projects__title {
    padding-bottom: 8px;
}

._1 {
    font-family: "Montserrat";
    font-style: normal;
    font-weight: 700;
    font-size: 22px;
    line-height: 27px;
    padding-top: 40px;
}

.projects__list {
}

.projects__link a {
    text-decoration: none;
    list-style: none;
    color: #595959;
}

.bold {
    font-weight: bold;
    color: #000;
}

.work {
}

.work__title {
}

.Work__1 {
}

.title {
    font-family: "Montserrat";
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 20px;
    color: #000000;
    padding: 16px 0px 11px 0px;
}
.title a {
    text-decoration: none;
    color: #0a48f1;
}

.text {
    font-family: "Montserrat";
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 15px;
    color: #a8a8a8;
    padding: 11px 0px 8px 0px;
}

.text p:first-child::nth-line(-n + 2) {
    font-variant-caps: small-caps;
    color: red;
}

.work__list {
}

.work__link {
    font-family: "Montserrat";
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    color: #595959;
}

.work__link a {
    margin-left: 10px;
}

.work__link::marker {
    font-weight: bold;
    color: #000;
}

.Education__title {
}

.Education__institute {
}

.Education__cafedra {
    font-family: "Montserrat";
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 17px;
}

.Education__year {
}

/* --------------------------------------------sidebar----------------------------------------------- */

.sidebar__box {
    padding: 0px 0px 0px 40px;
}

.sidebar ul {
    list-style-position: inside;
}

.Contact {
}

.Contact__title {
    font-family: "Montserrat";
    font-style: normal;
    font-weight: 700;
    font-size: 22px;
    line-height: 27px;
    color: #ffffff;
    padding: 50px 0px 8px 0px;
}

.Contact__info {
    font-family: "Montserrat";
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 24px;
    color: #ffffff;
}

.Contact__info a {
    text-decoration: none;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    color: #ffffff;
    opacity: 0.5;
}

.Tech_Skills {
}

.Contact__list {
}

.Contact__link {
    font-family: "Montserrat";
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    color: #ffffff;
}

.Contact__link span {
    color: #fff;
}

.Soft_Skills {
}

.pink {
    color: #0a48f1;
}
