ul,
ol {
    padding: 0;
    margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    padding: 0;
    margin: 0;
}

html {
    background-color: #e5e5e5;
    padding: 0;
    margin: 0;
    font-family: Montserrat;
}

.wrapper {
    display: flex;
    flex-direction: row-reverse;
    width: 1200px;
    margin: 0 auto;
    padding: 40px 0px;
}

.main {
    width: 830px;
    background-color: #fff;
}

.sidebar {
    width: 370px;
    background-color: #1e2939;
}

.sidebar img {
    width: 370px;
    margin-top: 40px;
}


/* --------------------------------main------------------------------------- */

.main__box {
    padding: 102px 0px 0px 88px;
}

.main__box li {
    width: 509px;
}

.main__box ul,
.main__box ol {
    list-style-position: inside;
}

.about {
    font-weight: 700;
    font-style: normal;
}

.about__sub-title {
    font-size: 14px;
    line-height: 17px;
}

.about__title {
    font-size: 45px;
    line-height: 55px;
    padding: 19px 0px 24px 0px;
}

.about__text {
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    color: #595959;
    width: 400px;
}

.projects {}

.projects__title {
    padding-bottom: 8px;
}

.title_1 {
    font-family: "Montserrat";
    font-style: normal;
    font-weight: 700;
    font-size: 22px;
    line-height: 27px;
    padding-top: 40px;
}

.projects__list {}

.projects__link a {
    text-decoration: none;
    list-style: none;
}

.work {}

.work__title {}

.Work__1 {}

.title {
    font-family: "Montserrat";
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 20px;
    color: #000000;
    padding: 16px 0px 11px 0px;
}

.text {
    font-family: "Montserrat";
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 15px;
    color: #a8a8a8;
    padding: 11px 0px 8px 0px;
}

.work__list {}

.work__link {
    font-family: "Montserrat";
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    color: #595959;
}

.work__link::marker {
    font-weight: bold;
}

.Work__2 {}

.Work__3 {}

.Education {
    padding-bottom: 100px;
}

.Education__title {}

.Education__institute {}

.Education__cafedra {
    font-family: "Montserrat";
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 17px;
}

.Education__year {}


/* --------------------------------------------sidebar----------------------------------------------- */

.sidebar__box {
    padding: 0px 0px 0px 40px;
}

.sidebar ul {
    list-style-position: inside;
}

.Contact {}

.Contact__title {
    font-family: "Montserrat";
    font-style: normal;
    font-weight: 700;
    font-size: 22px;
    line-height: 27px;
    color: #ffffff;
    padding: 50px 0px 8px 0px;
}

.Contact__info {
    font-family: "Montserrat";
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 24px;
    color: #ffffff;
}

.Contact__info a {
    text-decoration: none;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    color: #ffffff;
    opacity: 0.5;
}

.Tech_Skills {}

.Contact__list {}

.Contact__link {
    font-family: "Montserrat";
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    color: #ffffff;
}

.Contact__link span {
    color: #fff;
}

.Soft_Skills {}

.pink {
    color: #fb6d3a;
}