/* -----------------Обнулення--------------------- */

* {
    padding: 0;
    margin: 0;
    border: 0;
}

*,
*:before,
*:after {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

:focus,
:active {
    outline: none;
}

a:focus,
a:active {
    outline: none;
}

nav,
footer,
header,
aside {
    display: block;
}

input,
button,
textarea {
    font-family: inherit;
}

input::-ms-clear {
    display: none;
}

button {
    cursor: pointer;
}

button::-moz-focus-inner {
    padding: 0;
    border: 0;
}


/* ---------------------------------------------- */

html {
    background-color: #e5e5e5;
    height: 1435px;
}

.wrapper {
    max-width: 1200px;
    margin: 0 auto;
    width: 100%;
    position: relative;
    background-color: #fff;
    transform: translate(0px, 40px);
}

.main {
    margin-left: 370px;
}

.about {
    padding: 102px 0px 0px 88px;
}

.about h2 {
    font-family: "Montserrat";
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 17px;
    color: #000000;
}

.about h1 {
    font-family: "Montserrat";
    font-style: normal;
    font-weight: 700;
    font-size: 45px;
    line-height: 55px;
    color: #000000;
}

.about p {
    font-family: "Montserrat";
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    color: #595959;
    width: 400px;
}

.projects {
    padding: 40px 0px 0px 88px;
}

.projects ol {
    text-decoration: none;
    padding-left: 15px;
    font-family: "Montserrat";
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    color: #595959;
}

.projects h3 {
    margin: 0px 0px 8px 0px;
}

.projects a,
a:visited,
a:hover {
    outline: none;
    text-decoration: none;
    text-decoration: none;
}

.projects h3 {
    font-family: "Montserrat";
    font-style: normal;
    font-weight: 700;
    font-size: 22px;
    line-height: 27px;
    color: #000000;
}

.work {
    padding: 51px 0px 0px 88px;
}

.work ul {
    padding: 0px 0px 0px 15px;
}

.work h3 {
    font-family: "Montserrat";
    font-style: normal;
    font-weight: 700;
    font-size: 22px;
    line-height: 27px;
}

.work h4 {
    font-family: "Montserrat";
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 20px;
    padding: 16px 0px 11px 0px;
}

.work p {
    font-family: "Montserrat";
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 15px;
    color: #a8a8a8;
    padding-bottom: 8px;
}

.work ul {
    font-family: "Montserrat";
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    color: #595959;
    width: 509px;
}

.pink {
    color: #fb6d3a;
}

.Education {
    padding-left: 88px;
}

.Education h3 {
    font-family: "Montserrat";
    font-style: normal;
    font-weight: 700;
    font-size: 22px;
    line-height: 27px;
    padding-top: 43px;
}

.Education h4 {
    font-family: "Montserrat";
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 20px;
    color: #fb6d3a;
    padding-top: 12px;
}

.Education h5 {
    font-family: "Montserrat";
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 17px;
    padding: 11px 0px;
}

.Education p {
    font-family: "Montserrat";
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 15px;
    color: #a8a8a8;
    padding-bottom: 107px;
}

.sidebar {
    position: absolute;
    top: 0;
    left: 0;
    width: 370px;
    height: 1353px;
    background-color: #1e2939;
}

.sidebar img {
    padding: 40px 0px 51px 0px;
}

.Contact {
    padding: 51px 0px 0px 40px;
}

.Contact h3 {
    font-family: "Montserrat";
    font-style: normal;
    font-weight: 700;
    font-size: 22px;
    line-height: 27px;
    color: #ffffff;
    padding-bottom: 8px;
}

.Contact__info p {
    font-family: "Montserrat";
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 24px;
    color: #ffffff;
}

.Contact__info a {
    font-family: "Montserrat";
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    color: #ffffff;
    opacity: 0.5;
    outline: none;
    text-decoration: none;
}

.Tech_Skills {
    padding: 47px 0px 0px 40px;
}

.Tech_Skills h3 {
    font-family: "Montserrat";
    font-style: normal;
    font-weight: 700;
    font-size: 22px;
    line-height: 27px;
    /* identical to box height */
    color: #ffffff;
    padding-bottom: 8px;
}

.Tech_Skills a {
    outline: none;
    text-decoration: none;
}

.Tech_Skills ul {
    font-family: "Montserrat";
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    color: #ffffff;
    padding-left: 15px;
}

.Soft_Skills {
    padding: 44px 0px 0px 40px;
}

.Soft_Skills h3 {
    font-family: "Montserrat";
    font-style: normal;
    font-weight: 700;
    font-size: 22px;
    line-height: 27px;
    color: #ffffff;
    padding-bottom: 8px;
}

.Soft_Skills ul {
    font-family: "Montserrat";
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    color: #ffffff;
    list-style-position: inside;
}